@model Usuario
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Senha">Senha</label>
            <input asp-for="Senha" class="form-control" input type="password"/>
        </div>
        <div>
            <label asp-for="Telefone">Telefone</label>
            <input asp-for="Telefone" />
        </div>

        <div>
            <label asp-for="Perfil">Perfil</label>
            <select asp-for="Perfil" class="form-control">
                <option value="1">Administrador</option>
                <option value="2">Usuário</option>
            </select>
        </div>

        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>