@model CadEmprestimoViewModel
@{
    ViewData["Title"] = "Cadastro de Emprestimos";
}

<h1 class="row justify-content-md-center">Cadastro de Empréstimo</h1>
<div class="row justify-content-md-center">
    <form asp-action="Cadastro" method="POST" class="col-md-4">
        <fieldset>
            <legend>Usuário</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.UsuarioId">Usuário</label>
                <select asp-for="Emprestimo.UsuarioId" class="form-control">
                    @foreach(Usuario u in Model.Usuarios)
                    {
                        <option value="@u.Id">@u.Nome</option>
                    }
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>Livro</legend>
            <div class="form-group">
                <label asp-for="Emprestimo.DataEmprestimo">Data de Empréstimo</label>
                <input type="date" asp-for="Emprestimo.DataEmprestimo" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.DataDevolucao">Data de Devolução</label>
                <input type="date" asp-for="Emprestimo.DataDevolucao" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Emprestimo.LivroId">Livro</label>
                <select asp-for="Emprestimo.LivroId" class="form-control">
                    @foreach(Livro l in Model.Livros)
                    {
                        <option value="@l.Id">@l.Titulo</option>
                    }
                </select>
            </div>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary"/>
    </form>
</div>